<app-get-profile></app-get-profile>

<!-- <app-navbar></app-navbar> -->

<div class="container mt-5">
  <h2>Let's Upload Your Profile Image First</h2>
  <form (ngSubmit)="uploadProfileImage()" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="profileImage" class="form-label">Choose Profile Image</label>
      <input type="file" class="form-control" id="profileImage" accept="image/*" (change)="handleFileInput($event)">
    </div>
    <button [disabled]="!file" type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>

<!-- <app-footer2></app-footer2> -->

  