<div mat-dialog-title>
    <h1>Rides Form</h1>
</div>

<form [formGroup]="eventForm" (ngSubmit)="submitForm()">
    <div mat-dialog-content class="pt-3">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput type="text" placeholder="Ex. Halloween Party" formControlName="name">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
                <textarea matInput placeholder="Insert event desc" formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select formControlName="location">
                <mat-option *ngFor="let loc of location" [value]="loc">
                    {{ loc }}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
                <input formControlName="price" matInput type="number" placeholder="Ex. 50 Point">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="formFile" class="form-label">Event Poster</label>
                <input formControlName="poster" class="form-control" type="file" id="formFile">
            </div>
        </div>

    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button type="submit" color="primary">{{ data ? 'Update' : 'Save' }}</button>
    </div>
</form>