
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Let's Join Superland!</p>
  
                  <form class="mx-1 mx-md-4" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c">Your Email</label>
                        <input formControlName="email" type="email" id="form3Example3c" class="form-control" placeholder="Enter a valid email address" />
                        <span class="text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')">*Email is required</span>

                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c">Password</label>
                        <input formControlName="password" type="password" id="form3Example4c" class="form-control" placeholder="Enter password" />
                        <span class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')">*Password is required</span>

                      </div>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="registerForm.invalid">Register</button>
                    </div>

                    <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a
                    class="link-primary" routerLink="">Login here</a></p>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://img.freepik.com/free-vector/woman-man-holding-coffee-while-look-phone-check-social-media_10045-652.jpg?w=740&t=st=1692778640~exp=1692779240~hmac=2c846400a7e9774f5e3f0221a48b1416eeff4c5dca282c9d7a0af544ff17228a"
                    class="img-fluid" alt="Sample image">
  
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  