<app-navbar></app-navbar>
<div style="background-image: url('assets/images/bg_web.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;">

  <section class="container">
    <div class="container d-flex justify-content-center align-items-center">
      <img style="width: 1000px; height: 500px" src="assets/images/map/superland-map.png" alt="superland merch">
    </div>
  </section>
</div>

<app-footer2></app-footer2>
