<app-navbar></app-navbar>
<div style="background-image: url('assets/images/bg_web.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="card" style="width: auto;">
          <div class="card-body">
            <h1 class="card-title">COIN TOP UP</h1>
            <p class="card-text">Superland has partnered with SuperCoin to provide an easy. secure, and convenient way to top up your Superland Coins.</p>
            <p class="card-text">Top up your Superland Coins in just a matter of seconds! Simply select the desired amount of Coins, complete the payment, and the Coins will be instantly added to your Superland account.</p>
            <p class="card-text">Choose from a variety of payment methods, including Codacash, GoPay. ShopeePay. Dana. OVO, LinkAja, Telkomsel, Indosat, Tri, XL, Bank Transfer, QRIS. Indomaret. Alfamart, Kredivo, and Credit Cards.</p>
            <p class="card-text">The displayed prices already include VAT. Please note that additional taxes will apply for transactions using Telkomsel.</p>
            <p>Telkomsel.
              WARNING: The displayed prices already include VAT. Please note that additional taxes will apply for transactions using Telkomsel"</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="card mb-3">
            <div class="card-body">
              <button class="btn bg-warning me-3 text-white">
                <i class="fa-brands fa-product-hunt"></i>
                {{ profileData.point }}
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card">
              <div class="card-body">
                  <h1 class="card-title">COIN TOP UP</h1>
                  <div class="row">
                      <div *ngFor="let card of cards" class="col-md-4">
                        <div class="card mb-3">
                          <img
                            src="https://img.freepik.com/free-psd/dollar-sign-gold-coin-icon-isolated-3d-render-illustration_439185-12784.jpg?w=2000"
                            class="card-img-top"
                            alt="..."
                          />
                          <div class="card-body">
                            <h5 class="card-title">{{ card.pointValue }} Points</h5>
                            <button (click)="topupPoint(card.pointValue)" class="btn btn-secondary">IDR {{ card.price | numberFormat }}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

          <head>
            <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
                    data-client-key="SB-Mid-client-ddvM1HcVKrGpIFBO"></script>
          </head>
          
          <body>
          <p>Input snap token retrieved from step 1 (Backend), then click Pay.</p>
          <form onsubmit="return false">
          <!--  <label for="snapToken">Snap Token:</label>-->
          <!--  <label for="snapToken">Snap Token:</label>-->
            <input type="text" id="snap-token">
            <button id="pay-button">Pay!</button>
          </form>
          
          <script type="text/javascript">
            var payButton = document.getElementById('pay-button');
            // For example trigger on button clicked, or any time you need
            payButton.addEventListener('click', function() {
              var snapToken = document.getElementById('snap-token').value;
              snap.pay(snapToken);
            });
          
          </script>
          </body>
  </div>
</div>



<app-footer2></app-footer2>
