.carousel-item {
    height: 500px;
    background-size: cover;
    background-position: center;
}

.card-img-top {
  height: 200px; 
  object-fit: cover; 
}

.card-equal-height {
  display: flex;
  flex-direction: column;
}
  
.card-equal-height .card-body {
  flex: 0;
}

.modal-body p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px; 
}

.icon {
  margin-right: 10px;
  font-size: 30px;
}

.price-icon {
  margin-left: auto;
  font-size: 30px; 
}

.description {
  font-size: 12px;
}
  