<div *ngIf="loading; else content">
    <app-loader></app-loader>
</div>

<ng-template #content>
    <app-navbar></app-navbar>

    <div class="container mt-5">
        <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://www.thestreet.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTY4NjM4OTY4NjkyNzQ2MTM1/best-amusement-parks-in-the-world.jpg" alt="profile-sample1" class="background"/>
                </div>
                <div class="profile-thumb-block">
                    <!-- <img [src]="profileData.profileImage === 'default.jpg' ? 'default.jpg' : profileData.profileImage" alt="default.jpg" class="profile"/> -->
                    <!-- <img [src]="retrievedImage" alt="photo.jpg" class="profile"/> -->
                    <!-- ///home/user/Documents/enigma/Mini-Project/backend/img/userProfile -->

                    <!-- <img [src]="'/assets/images/profilePicture/default.jpg'" alt="photo.jpg" class="profile"/> -->

                    <img [src]="profileData.profileImage" alt="photo.jpg" class="profile"/>

                </div>
                <div class="card-content">
                    <!-- <h2>{{profileData.profileImages}}</h2> -->
                    <h2>{{ profileData.username}}<small>Points : {{ profileData.point }}</small></h2>
                    <a [href]="profileData.qrImage" class="btn btn-primary">Download QR Code</a>
                </div>
        </div>
        </div>
    </div>
    
    <app-footer2></app-footer2> 
    
